* {
    font-family: 'Lato', Helvetica, sans-serif;
    padding: 10px;
}

header {
    background-color: cyan;
    margin: .5em;
}

nav{
    background-color: magenta;
}

section {
    display: inline-block;
    background-color:rgb(66, 129, 248);
    margin: .5em;
    padding: 1em;
    width: 70%
}

article {
    background-color: rgba(226, 99, 238, 0.863);
    padding: .5em;
    margin: 1em;
}

aside {
    display: inline-block;
    float: right;
    vertical-align: top;
    background-color:rgb(255, 119, 203);
    margin: .5em;
    width: 23%;
    height: 34em;
}

footer {
    border-color: purple;
    background-color: rgb(202, 122, 255);
    margin: .5em;
}

