* {
    font-family: Lato, Helvetica, sans-serif;
}

/* HEADER */

.menu-wrapper { /* es el contenedor para este ejercicio*/
    width: 100%;
    height: 100px;
    background-color: #333;
}

.d-flex {
    display: flex;
}

/* NAVIGATION BAR */

.menu {
    list-style-type: none;
    width: 400px;
    height: auto;
    flex-direction: row;
    align-items: center;
  }

.menu.logo {
    width: 80px;
    height: auto;
    align-items: left;
    margin: 10px;
}

.menu.list {
    color: white;
    float: right;
    font-weight: 700;
    text-align: center;

  }

.menu.search-icon {
    width: 25px;
    height: auto;
}

#contact-us {
    background-color:greenyellow;
    padding: 10px;
    color: #333333;
}

/* SECTION */

section {
    float:left;
    vertical-align: top;
    display: inline-block;
    max-width: 70%;
}

section ul {
    text-decoration-style: none;
    display: inline;
}

#profile-pic {
    float: left;
    width: 5em;
    height: auto;
    margin: 1em;
    border-left-color: limegreen;
    border-width: 5px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-collapse: separate;
  }

  aside {
    float: right;
    vertical-align: middle;
    border-radius: 2px;
    padding: 20px;
    margin: 2em 2em 0em 1em;
    max-width: 20%;
  }

  aside h4 {
    text-align: left;
}

form {
    background-color: rgb(15, 111, 170);    
}

label {
    font-size: 12px;
    color: white;
    padding: 1em;

}

  input[type=text], select {
    width: 90%;
    padding: 1em;
    margin: 1em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 90%;
    background-color:green;
    color: white;
    font-size: 18px;
    font-weight: 700px;
    padding: 1em;
    margin: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: greenyellow;
    color: green;
    font-weight: 700px;
    font-size: 18px;
  }

  /* CLASES

Empezamos con la clase wrapper
el wrapper va a engrapar el espacio contenido dentro de la clase
*/

/* DIMENSIONES
ejemplo valores: width: 15vw / height: 
vw = viewport width: asigna 100% del ancho de viewport que es el ancho de la pantalla.
vh = viewport height: asigna 100% del alto de viewport que es el alto de la pantalla.
*/

/*

Se pueden hacer calculos en css-3
usando calc(operacion aritmetica)

la opción AUTO hace el cálculo para asignar
correctamente las limitaciones/dimensione/etc
el selector a modificar.

EN LA ALINEACION DE MÁRGENES, AUTO SOLO SIRVE
PARA LOS MÁRGENES LATERALES


.square {
    width: 200px;
    height: 100px;
    border: 1px solid lightseagreen;
}

.square.coral {
    background: lightcoral;
}

.square.gray {
    background: gray;
}

.square.lightblue {
    background:lightblue;
}

.square.lightgreen {
    background: lightgreen;
}

.d-flex{
    display: flex;
}

*/

.end{
    justify-content: flex-end;
}

.center{
    justify-content: center;
}

.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

/* CLASES POR COMPONENTES

.data-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 30px;
}

.data-form .input-group {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.data-form .input-group label {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.data-form .input-group input {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 30px;
    border: 1px solid purple;
}

.data-form button {
    background: darkblue;
    color: white;
    font-weight: bold;
}

